p {
    width: 90vw;
    align-self: center;
    margin-top: 0;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: justify;
    padding: 15px;
}

p b{

}

textarea {
    height: 50%;
    width: 90vw;
    align-self: center;
}

.body {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid black;
    height: 90vh;
    text-align: center;
}

h3 {
    text-align: center;
}