img {
    height: 10vh;
    width: 10vw;
    object-fit: contain;
}

.header{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.title {
    display: flex;
    align-self: center;
    font-size: 30px;
    font-family:fantasy;
}